figure {
    float: left;
    margin: 0 10px 10px 0;
  }

  h3 { clear: both; }


#lista1 {}
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: cornflowerblue;
        color: white;
        float: inline-start;
    
}
      ul li {display: inline-table;}
    
      ul li a:hover {
        background-color: red;
        color: cornflowerblue;
}

      ul li a {
        background-color: cornflowerblue;
        color: white;
        text-decoration: none;
        padding: 0px 10px;
        float:left;
}

      .active {
        background-color: rgb(67, 116, 17);
}

header {
    background-color: cornflowerblue;
    color: whitesmoke;
    padding: 4px;
    text-align: left;
}

#sec1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}

#sec2 {
  list-style-type: none;
  background-color: grey;
  color: black;
  margin: 0px;
}

#positions {
  list-style-type: none;
  background-color:gray;
  color: white;
  float: inline-start;

}

#rodape {
  list-style-type: none;
}